@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Montserrat', sans-serif;
}

/* styles/globals.css */
.underline-yellow {
    position: relative;
    display: inline-block;
  }
  
  .underline-yellow::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Adjust this value based on your design preference */
    left: 0;
    width: 100%;
    height: 5px; /* Adjust this value based on your design preference */
    background-color: #FFD700; /* Replace with your desired color */
  }
  